.title {
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 32px;
}

@media (prefers-color-scheme: light) {
  .title {
    color: #000;
  }
}

.list {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.category {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.category:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.categoryHeader {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
}
